<h1>Hello Battle!</h1>


<form action="/names" method="post">
  <input type="text" name="player_1" placeholder="Enter Player1 Name">
  <input type="text" name="player_2" placeholder="Enter Player2 Name">
  <input type="submit" value="Submit">
</form>